<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore. Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>
      
        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta
                    dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque
                    repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore.
                    Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta
                    dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque
                    repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore.
                    Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta
                    dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque
                    repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore.
                    Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta
                    dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque
                    repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore.
                    Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, omnis deserunt beatae ea soluta
                    dignissimos numquam, maiores ex aliquam amet unde iste in. Ipsam, expedita nesciunt! Quos odit itaque
                    repudiandae totam voluptatem vero culpa quo aperiam, magni accusantium laborum adipisci inventore.
                    Recusandae suscipit dolorem sit cumque soluta unde aperiam laudantium.</p>
            </div>
            <div class="btn">
                <div class="button">
                    <button>view</button>
                    <button>edit</button>
                </div>
                <div class="time">
                    9 min
                </div>
            </div>
        </div>
    </div>
</body>
</html>